<!DOCTYPE html>
<html>
  <head>
    <title>OutlineClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Movie Outlines", movie_outlines_path %>
    |
    <%= link_to "TV Show Outlines", tv_outlines_path %>
    |
    <%= link_to "Glossary", glossary_path %>
    |
    <%= link_to "Log In / Sign Up", login_signup_path %>

    <%= yield %>
  </body>
</html>
